@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, (clean) world!</h1>

<p>This app does nothing more than provide a simple learning example of a Blazor app using a clean architecture.</p>
<p>It is based on the official Microsoft Blazor template, with unnecessary parts removed and the sample Weather Forecast feature converted to a clean architecture strategy.</p>
<p>So go ahead and go get some <a href="weather">Weather Forecasts</a>!</p>