name: Spell Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@v0
        with:
          config_path: .spellcheck.yml
          output_file: spellcheck-output.txt

      - name: Upload Spellcheck Output
        uses: actions/upload-artifact@v4
        if: '!cancelled()' # Only upload artifact if job was not cancelled
        with:
          name: Spellcheck Output
          path: spellcheck-output.txt